body {
    margin:0;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    line-height: 1.2em;
    background: #eee;
    color: #000;
}

#heading {
    padding:75px;
    text-align: center;
    background: #000;
    color: #ffffff;
}

#content {
    width:840px;
    margin:40px auto 100px auto;

}
.eqn{
    font-family: "Times New Roman", sans-serif;
    letter-spacing: 1px;
    font-style: italic;
}

/*svg*/
svg{
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
}
.spacetime{ 
    background: white;
}
.hovertext{
    position: absolute;
    padding: 0 10px;
    background: none;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
}
